body {
  background-color: #3e454b;
  color: whitesmoke;
}

table {
  width: 100%;
  background-color: white;
  color: #51575d;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.add_main {
  display: none;
}

#edit_store_form, #edit_shoe_form {
  display: none;
}
